body {
    margin: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .Homenav {
    overflow: hidden;
    background-color: rgba(12, 11, 11, 0.986);
    border-collapse: collapse;
  }
  
  .Homenav a {
    float: left;
    color: #e6e7f0e8;
    text-align: center;
    padding: 8px 16px;
    text-decoration: red;
    font-size: 17px;
  }
  
  .Homenav a:hover {
    background-color: rgb(10, 221, 105);
    color: rgb(10, 9, 9);
  }
  
 